<!DOCTYPE html>
<html lang="en">
    <%- include("partials/head") %>
<body>
    <%- include("partials/header") %>
    <main>
        <% if (card) { %>
            <section class="card">
                <h1><%= card.name %></h1>
                <img src="<%= card.imageUrl %>" alt="<%= card.name %>">
                <article class="card-info">
                    <p><%= card.description %></p>
                    <hr>
                    <br>
                    <p><strong>Rating:</strong> <%= card.rating %></p>
                    <p><strong>Active:</strong> <%= card.isActive ? 'Yes' : 'No' %></p>
                    <p><strong>Birth Date:</strong> <%= new Date(card.birthDate).toLocaleDateString() %></p>
                    <p><strong>Type:</strong> <%= card.type %></p>
                    <p><strong>Menu:</strong> <%= card.menu.join(', ') %></p>
                    <p><strong>Artist:</strong> <%= card.artist %></p>
                    <div class="guild-info">
                        <p><strong>CEO:</strong></p>
                        <hr>
                        <ul>
                            <li><strong>Name:</strong> <%= card.owner.name %></li>
                            <li><strong>Country:</strong> <%= card.owner.country %></li>
                        </ul>
                    </div>
                    <hr>
                    <a href="/form/<%= card.name %>/edit"><button id="edit">Edit</button></a>
                </article>
            </section>
        <% } else { %>
            <p>Card not found.</p>
        <% } %>
    </main>
</body>
</html>
