<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css">
    <title><%= title %></title>
</head>
<body>
    <header class="navbar">
        <nav>
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="/details">Overview</a></li>
                <li><a href="teamplanner.html">Guilds</a></li>
            </ul>
        </nav>
        <form action="/" method="GET">
            <input type="text" name="search" placeholder="Search by name...">
            <button type="submit">Search</button>
        </form>
    </header>
    <main>
        <form action="/" method="get">
            <select name="sortField">
                <option value="name" <%= sortField === "name" ? "selected" : "" %>>Name</option>
                <option value="rating" <%= sortField === "rating" ? "selected" : "" %>>Rating</option>
                <option value="birthDate" <%= sortField === "birthDate" ? "selected" : "" %>>Founded</option>
            </select>
            <select name="sortDirection">
                <option value="asc" <%= sortDirection === "asc" ? "selected" : "" %>>Ascending</option>
                <option value="desc" <%= sortDirection === "desc" ? "selected" : "" %>>Descending</option>
            </select>
            <button type="submit">Sort</button>
        </form>
        <table id="cardTable">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Description</th>
                    <th>Rating</th>
                    <th>Active</th>
                    <th>Founded</th>
                    <th>Type</th>
                    <th>Abilities</th>
                    <th>Artist</th>
                    <th>Affiliation</th>
                </tr>
            </thead>
            <tbody>
                <% cards.forEach(card => { %>
                    <tr>
                        <td>
                            <a href="/detail/<%= card.name %>">
                                <img src="<%= card.imageUrl %>" alt="<%= card.name %>" />
                                <br>
                                <%= card.name %>
                            </a>
                        </td>
                        <td class="cell"><%= card.description %></td>
                        <td class="cell"><button><%= card.rating %></td></button>
                        <td class="cell"><%= card.isActive ? 'Yes' : 'No' %></td>
                        <td class="cell"><%= new Date(card.birthDate).toLocaleDateString() %></td>
                        <td class="cell"><%= card.type %></td>
                        <td class="cell"><%= card.abilities.join(', ') %></td>
                        <td class="cell"><%= card.artist %></td>
                        <td class="cell"><%= card.guildAffiliation.name %></td>
                    </tr>
                <% }); %>
            </tbody>
        </table>
    </main>
    
</body>
</html>